<html>

<head th:replace="fragments/common.html :: headerfiles(title='Piatto aggiunto con successo | MyRestaurant')"></head>

<body>
	<header th:replace="fragments/common.html :: navbar"></header>
	<!-- END NAV -->
	<div class="container_body container">
		<section class="hero is-medium is-success">
			<div class="hero-body">
				<p class="title">
					Piatto aggiunto con successo!
				</p>
				<p class="subtitle">
					Il piatto è stato inserito nel menu.
				</p>
				<div class="buttons">
					<a class="button is-rounded is-white" th:href="@{/home}">Vai alla dashboard</a>
					<a th:if="${meal.equals('Pranzo')}" class="button is-rounded is-light" th:href="@{/showMenuLunch}">Torna al menu</a>
					<a th:if="${meal.equals('Cena')}" class="button is-rounded is-light" th:href="@{/showMenuDinner}">Torna al menu</a>
				</div>
			</div>
		</section>
	</div>
	<footer th:replace="fragments/common.html :: footer"></footer>
</body>

</html>