<html>

<head th:replace="fragments/common.html :: headerfiles(title='Prenota ora | MyRestaurant')"></head>

<body>
	<header th:replace="fragments/common.html :: navbar"></header>

	<!-- END NAV -->
	<div class="container_body container">
		<section class="hero is-small is-warning p-4 mb-4">
			<div class="hero-body">
				<p class="title">
					Prenotazione per <span style="text-transform:capitalize;"
						th:text="${loggedUser.user.name} + ' ' + ${loggedUser.user.surname}"></span>
				</p>
				<p class="subtitle">
					Stai prenotando un tavolo
				</p>
			</div>
		</section>

		<section class="section p-0 mb-6">
			<div class="box">
				<p class="title is-5">Dettagli prenotazione</p>
				<p class="subtitle is-6">Compila i seguenti campi obbligatori</p>
				<form th:action="@{/reservation}" method="post" th:object="${reservation}">

					<div class="field">
						<label class="label">Cellulare</label>
						<div class="control has-icons-left has-icons-right">
							<input id="phoneNumber" th:field="${reservation.phoneNumber}" class="input" type="text"
								placeholder="+39 " onblur="aggiungiPrefisso()" required/>

							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>

						<script>
							function aggiungiPrefisso() {
								const input = document.getElementById("phoneNumber");
								let valore = input.value.trim();

								if (valore !== "" && !valore.startsWith("+39")) {
									// Rimuove eventuali zeri iniziali
									if (valore.startsWith("0")) {
										valore = valore.substring(1);
									}
									input.value = "+39 " + valore;
								}
							}
						</script>

						<p class="has-text-left has-text-danger help" th:if="${#fields.hasErrors('phoneNumber')}"
							th:errors="${reservation.phoneNumber}">Errore</p>
					</div>

					<div class="field">
						<label class="label">Numero di persone</label>
						<div class="select">
							<select th:field="${reservation.numberOfPerson}">
								<option th:each="i : ${#numbers.sequence(1, 30)}" th:value="${i}" th:text="${i}">
								</option>
							</select>
						</div>
						<p class="help is-danger" th:if="${#fields.hasErrors('numberOfPerson')}" 
                              th:errors="${reservation.numberOfPerson}"></p>
					</div>

					<div class="field">
						<label class="label">Luogo</label>
						<div class="select">
							<select th:field="${reservation.place}">
								<option value="INTERNO">Interno</option>
								<option value="ESTERNO">Esterno</option>
							</select>
						</div>
					</div>

					<div class="field ">
						<div class="field-body">
							<div class="field">
								<label class="label">Data</label>
								<p class="control is-expanded">
									<input class="input" th:field="${reservation.dateOfReservation}" type="date"
										th:attr="min=${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" required/>

								</p>
								<p class="has-text-left has-text-danger help"
									th:if="${#fields.hasErrors('dateOfReservation')}"
									th:errors="${reservation.dateOfReservation}">
									Errore
								</p>
							</div>
							<div class="field">
								<label class="label">Orario</label>
								<p class="control is-expanded">
									<input class="input" th:field="${reservation.time}" type="time" required>
								</p>
								<p class="has-text-left has-text-danger help" th:if="${#fields.hasErrors('time')}"
									th:errors="${reservation.time}">Errore</p>
							</div>
						</div>
					</div>



					<div class="field mt-5 is-grouped">
						<div class="control">
							<button type="submit" class="button is-rounded is-success">Prenota</button>
						</div>
						<div class="control">
							<a th:href="@{/home}" class="button is-rounded is-danger is-light">Annulla</a>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
	<footer th:replace="fragments/common.html :: footer"></footer>
</body>