<html>

<head th:replace="fragments/common.html :: headerfiles(title='Registrati | MyRestaurant')">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<header th:replace="fragments/common.html :: navbar"></header>
	<!-- END NAV -->
	<div class="container_body container">
		<section class="section p-0">
			<div class="box eb-box-auth mt-0">
				<p class="title is-4">Ciao,<br> Registrati ora </p>
				<form th:action="@{/register}" method="POST">
					<div class="field">
						<label class="label">Nome</label>
						<div class="control has-icons-left has-icons-right">
							<input th:field="${user.name}" class="input" type="text" placeholder="Nome">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
						<p class="has-text-left help" th:if="${#fields.hasErrors('user.name')}"
							th:errors="${user.name}">Errore</p>
					</div>

					<div class="field">
						<label class="label">Cognome</label>
						<div class="control has-icons-left has-icons-right">
							<input th:field="${user.surname}" class="input" type="text" placeholder="Cognome">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
						<p class="has-text-left help" th:if="${#fields.hasErrors('user.surname')}"
							th:errors="${user.surname}">Errore</p>
					</div>

					<div class="field">
						<label class="label">Email</label>
						<div class="control has-icons-left has-icons-right">
							<input th:field="${user.email}" class="input" type="email"
								placeholder="Email" required>
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
						<p class="has-text-left help" th:if="${#fields.hasErrors('user.email')}"
							th:errors="${user.email}">Errore</p>
					</div>

					<div class="field">
						<label class="label">Username</label>
						<div class="control has-icons-left has-icons-right">
							<input th:field="${credentials.username}" class="input" type="text"
								placeholder="Username">
							<span class="icon is-small is-left">
								<i class="fas fa-user"></i>
							</span>
						</div>
						<p class="has-text-left help" th:if="${#fields.hasErrors('credentials.username')}"
							th:errors="${credentials.username}">Errore</p>
					</div>

					<div class="field">
						<label class="label">Password</label>
						<div class="control has-icons-left has-icons-right">
							<input th:field="${credentials.password}" class="input" type="password"
								placeholder="Password">
							<span class="icon is-small is-left">
								<i class="fas fa-lock"></i>
							</span>
						</div>
						<p class="has-text-left help" th:if="${#fields.hasErrors('credentials.password')}"
							th:errors="${credentials.password}">Errore</p>
					</div>
					<button type="submit" class="button is-fullwidth is-info mt-5 is-rounded">Registrati</button>
					<p class="title has-text-centered mt-2 is-6">Hai già un account? <a th:href="@{/login}">Accedi
							ora</a></p>

				</form>
			</div>
		</section>
	</div>
	<footer th:replace="fragments/common.html :: footer"></footer>
</body>

</html>